html,
body {
  overflow: hidden;
  background-color: #1d232f;
  color: white;
  box-sizing: border-box;
}

.header,
.main {
  width: 90%;
  margin: 0 auto;
  max-width: 800px;
}

.header {
  height: 10vh;
  display: flex;
  align-items: center;
}

.titleH1,
.titleH2 {
  font-weight: unset;
  margin: unset;
}

.main {
  padding: 12px 0;
}

.tasksCategories {
  margin-bottom: 36px;
}

.tasksCatList {
  display: flex;
  overflow-x: scroll;
  list-style: none;
  padding: unset;
  gap: 12px;
  position: relative;
  scroll-snap-type: x mandatory;

  &::-webkit-scrollbar {
    all: unset;
  }

  & .taskCatItem {
    width: 150px;
    height: 175px;
    padding: 12px 24px;
    background-color: #363c48;
    border-radius: 12px;
    display: inline-block;
    cursor: pointer;

    &.active {
      background: linear-gradient(179.95deg, #eea59c 0.04%, #f85a7f 99.96%);
    }
  }
}

.tasks {
  & .tasksList {
    list-style: none;
    padding: unset;

    & .taskItem {
      padding: 12px 24px;
      background-color: #363c48;
      border-radius: 12px;
      margin-bottom: 12px;
    }
  }
}
