@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans:wght@600&display=swap');

* {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --white: #FFFFFF;
  --white-bg: rgba(255, 255, 255, .1);
  --grey-bg: #3C3C3C;
  --black-bg: rgba(12, 12, 12, .7);
  --purple: #9D8DF1;
  --green: #1CFEBA;
}

html, body {
  margin: 0;
  padding: 0;
  color: var(--white);
  background-color: var(--grey-bg);
  z-index: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 0.05em;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}